/* Base clip-path style */
.footer::after {
  content: "";
  display: block;
  clip-path: ellipse(180% 100% at 50% 100%);
  /* Make sure to include other necessary styles for positioning and size */
}

/* Adjustments for different breakpoints */
@media (min-width: 30em) { /* Tailwind's sm breakpoint */
  .cJUPMm::after {
      clip-path: ellipse(120% 100% at 50% 100%);
  }
}

@media (min-width: 48em) { /* Tailwind's md breakpoint */
  .cJUPMm::after {
      clip-path: ellipse(85% 100% at 50% 100%);
  }
}
